.navbarparent{
    position: fixed;
    width: 100%;
    overflow: hidden;
    z-index: 15;
    background-color: #023B3D;
}

.navholder{
    padding: 5px 25px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    color: #fff;
    overflow: hidden;
}

h1{
    cursor: default;
}

ul{
    cursor: default;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

li{
    list-style: none;
    padding: 10px 40px;
    transition: transform .35s;
    font-size: 25px;
}

li a{
    text-decoration: none;
    color:white;
    font-weight: bold;
}

li:hover{
    transform: scale(1.3);
}

@media only screen and (max-width: 1000px) {
    .navholder{
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    
}